<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="8" size-lg="6" size-xl="4">
        <ion-card>
          <ion-img src="/assets/icon/icon2.jpg"></ion-img>
          <ion-card-content>
            <ion-card-title>
              ¡Bienvenido!
            </ion-card-title>
            <hr class="h-px border-0 bg-neutral-600 mx-5">
            <p>
              En esta web encontrarás información sobre todo lo relacionado con el mundo de Honkai Star Rail.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
