ion-row {
  height: auto;
  width: auto;
  margin: 0 auto;
}

ion-card {
  height: auto;
  width: 800px;
  margin-inside: 20px;
}

ion-img {
  width: 350px;
  max-width: 350px;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}

