<ion-header [translucent]="true">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-header>

<ion-content class="ion-padding">

  <ion-title>Recursos</ion-title>

  <ion-card class="mb-4">
    <ion-card-header class="ion-align-items-center">
      <ion-card-title>Breakpoints de velocidad (5 ciclos)</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-align-items-center">
      <p>Explicación de la imagen</p>
      <p>
        <span class="negrita">Velocidad:</span>
        la velocidad en cuestión.
      </p>
      <p>
        <span class="negrita">Base AV:</span>
        el Action Value (valor de acción) del personaje en base a su velocidad.
      </p>
      <p>
        <span class="negrita">A/C 5 Ciclos:</span>
        La cantidad de acciones del personaje, concretamente
        esta imagen en un total de 5 ciclos del salón olvidado (550 AV).
      </p>
      <p>
        <span class="negrita">Acciones Extra:</span>
        los ciclos en los que ocurren esos turnos adicionales, por ejemplo,
        desde el 128 tendremos acciones adicionales en el segundo y quinto ciclo.
      </p>
    </ion-card-content>

    <ion-img src="https://preview.redd.it/speed-spreadsheet-number-of-turns-per-10-and-15-cycles-v0-9e711qzmexbb1.png?width=1837&format=png&auto=webp&s=da804b24dee8c895145829ef79ec3b2efd4366b5" alt="5 ciclos"></ion-img>
  </ion-card>

  <ion-card class="mb-4">
    <ion-card-header class="ion-align-items-center">
      <ion-card-title>Breakpoints de velocidad (8 ciclos)</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-align-items-center">
      <p>Explicación de la imagen</p>
      <p>
        <span class="negrita">Velocidad:</span>
        la velocidad en cuestión.
      </p>
      <p>
        <span class="negrita">Base AV:</span>
        el Action Value (valor de acción) del personaje en base a su velocidad.
      </p>
      <p>
        <span class="negrita">A/C 8 Ciclos:</span>
        La cantidad de acciones del personaje, concretamente
        esta imagen en un total de 8 ciclos del salón olvidado (850 AV).
      </p>
      <p>
        <span class="negrita">Acciones Extra:</span>
        los ciclos en los que ocurren esos turnos adicionales, por ejemplo,
        con 134 de velocidad atacaremos doble en el primer ciclo, el cuarto y el séptimo,
        además del décimo (que no contabiliza para los 8 ciclos).
      </p>
    </ion-card-content>

    <ion-img src="https://preview.redd.it/speed-spreadsheet-number-of-turns-per-10-and-15-cycles-v0-ebe5ldp7oqbb1.png?width=1837&format=png&auto=webp&s=7d1620e225a881b758ee619b2ce6f5eda12179d8" alt="8 ciclos"></ion-img>
  </ion-card>

</ion-content>

